.tile {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: none;
}

.tile:hover {
border: solid 3px gray;
}

.black-tile{
  background-color: #26416D;
}

.white-tile{
  background-color: #FAF0EF;
}

.piece {
  height:70% ;
}

.highlight-white {
  background-color: rgba(221, 111, 166, 0.506);
}

.highlight-black {
  background-color: #5E6697;
}

.activeSpot{
  background-color: rgba(198, 95, 232, 0.857);
}